<html>
    <head>
        <title>
            <%=title %>
        </title>

    </head>
    <body>
        <h1>Play ground</h1>
        <ul>
            <% for(let i=1; i<=6;i++){%>
                <li>
                    <%= i %>
                </li>
             
            <%}%>
        </ul>
        <% if(true){%>
            <%="it is true"%>
        <%}else{%>
            <%="it is not true"%>
        <%}%>
    </body>
</html>